
    <a id="show-sidebar" class="btn btn-sm btn-dark" style="color: white;">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        <div class="sidebar-brand">
          <a>Menu</a>
          <div id="close-sidebar">
            <i class="fas fa-times"></i>
          </div>
        </div>
        <div class="sidebar-header">
          <div class="user-pic">
            <img class="img-responsive img-rounded" src="../../assets/img/user.png"
              alt="User picture">
          </div>
          <div class="user-info">
            <span class="user-name">Fulano
              <strong>Sutano</strong>
            </span>
            <span class="user-role">Jefe de Operaciones</span>
          </div>
        </div>

        <div class="sidebar-menu">
          <ul>
            <li class="header-menu">
              <span>Ver</span>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/home/plantilla">
                <i class="fas fa-eye"></i>
                PLantilla
              </a>
            </li>
            <li class="header-menu">
                <span>Módulos</span>
            </li>
            <li class="sidebar-dropdown">
              <a>
                <i class="fa fa-shopping-cart"></i>
                <span>Conductores Vehículos</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a>Products
  
                    </a>
                  </li>
                    <li>
                    <a routerLink="/home/cursos">Registrar Curso</a>
                  </li>
                  <li>
                    <a routerLink="/home/vinculo">Vinculos</a>
                  </li>
                  <li>
                    <a   routerLink='conductor' >Conductores</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="sidebar-dropdown">
              <a>
                <i class="far fa-gem"></i>
                <span>Gestionar Venta</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a>General</a>
                  </li>
                  <li>
                    <a>Panels</a>
                  </li>
                  <li>
                    <a>Tables</a>
                  </li>
                  <li>
                    <a>Icons</a>
                  </li>
                  <li>
                    <a>Forms</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="sidebar-dropdown">
              <a>
                <i class="fa fa-chart-line"></i>
                <span>Gestionar Almacén</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a>Pie chart</a>
                  </li>
                  <li>
                    <a>Line chart</a>
                  </li>
                  <li>
                    <a [routerLink]="['entradadeproducto']">Entrada de Producto</a>
                  </li>
                  <li>
                    <a>Histogram</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="sidebar-dropdown">
              <a>
                <i class="fa fa-globe"></i>
                <span>Crono. Despacho</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a>Google maps</a>
                  </li>
                  <li>
                    <a>Open street map</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="sidebar-dropdown">
              <a>
                <i class="fa fa-globe"></i>
                <span>Seguridad</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a [routerLink]="['usuario']">Usuarios</a>
                  </li>
                  <li>
                    <a [routerLink]="['rol']">Rol</a>
                  </li>
                  <li>
                    <a>Opciones</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="sidebar-dropdown">
              <a>
                <i class="fa fa-cog"></i>
                <span>Reportes</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a [routerLink]="['registrarpersona']">Registrar Persona</a>
                  </li>
                  <li>
                    <a [routerLink]="['registrarubigeo']">Registrar Ubigeo</a>
                  </li>
                </ul>
              </div>
            </li>
            
            <li class="header-menu">
              <span>Mantenimiento</span>
            </li>
            <li class="sidebar-dropdown">
              <a>
                <i class="fa fa-globe"></i>
                <span>Acciones</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li routerLinkActive="active">
                    <a [routerLink]="['/home/acciones',4]">Categoria</a>
                  </li>
                  <li routerLinkActive="active">
                    <a [routerLink]="['/home/acciones',3]">Acciones preventivas</a>
                  </li>
                  <li routerLinkActive="active">
                    <a routerLink="/home/acciones">Acciones correctivas</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="sidebar-footer">
        <a>
          <i class="fa fa-cog"></i>
        </a>
        <a  [routerLink]="['/login']">
          <i class="fa fa-power-off"></i>
        </a>
      </div>
    </nav>
