<h1><small>Vehiculos</small></h1>
<br />
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div id="custom-search-input">
        <div class="input-group col-md-12">
          <input
            type="text"
            class="form-control input-lg"
            placeholder="NroPadron"
            [(ngModel)]="nropadron"
          />
          <span class="input-group-btn">
            <button type="button" (click)="buscarNroPadron()">
              <i class="fas fa-search"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<button
  type="button"
  class="btn btn-primary"
  (click)="limpiar()"
>
  Limpiar
</button>
<button
  style="margin-left: 80%;margin-top: -80px;"
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#modalPoll"
>
  Registrar Vehiculos
</button>
<!-- Inicio de modal -->
<div
  class="modal fade right"
  id="modalPoll"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-backdrop="false"
>
  <div
    class="modal-dialog modal-full-height modal-right modal-notify modal-info"
    role="document"
  >
    <div class="modal-content">
      <!-- Header del modal -->
      <div class="modal-header" style="background: #32363F;">
        <p class="heading lead">Registro de Vehiculos</p>

        <!-- Boton de cerrar -->
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>
      <!-- Final del header -->

      <!-- Body del modal -->
      <div class="modal-body">
        <div class="form-group col-md-6">
          <label for="inputEmail4">NroPadron</label>
          <input
            type="email"
            class="form-control"
            id="inputEmail4"
            placeholder="NroPadron"
            [(ngModel)]="vehiculo.nropadron"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail4">Placa</label>
          <input
            type="email"
            class="form-control"
            id="inputEmail4"
            placeholder="Placa"
            [(ngModel)]="vehiculo.placa"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail4">Serie</label>
          <input
            type="email"
            class="form-control"
            id="inputEmail4"
            placeholder="Serie"
            [(ngModel)]="vehiculo.serie"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail4">Uso</label>
          <input
            type="email"
            class="form-control"
            id="inputEmail4"
            placeholder="Codigo"
            [(ngModel)]="vehiculo.uso"
          />
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Modelo</label>
          <select
            id="inputState"
            class="form-control"
            style="width: 280px;"
            [(ngModel)]="vehiculo.idvehmodelo"
          >
            <option
              *ngFor="let modelo of veh_modelos"
              [value]="modelo.idvehmodelo"
              >{{ modelo.nombre }}</option
            >
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Marca</label>
          <select
            id="inputState"
            class="form-control"
            style="width: 280px;"
            [(ngModel)]="vehiculo.idvehmarca"
          >
            <option
              *ngFor="let marca of veh_marcas"
              [value]="marca.idvehmarca"
              >{{ marca.nombre }}</option
            >
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Categoria</label>
          <select
            id="inputState"
            class="form-control"
            style="width: 280px;"
            [(ngModel)]="vehiculo.idvehcategoria"
          >
            <option
              *ngFor="let categoria of veh_categorias"
              [value]="categoria.idvehcategoria"
              >{{ categoria.nombre }}</option
            >
          </select>
        </div>
      </div>
      <!-- Fin del Body del modal -->

      <!-- Footer del modal -->
      <div class="modal-footer justify-content-center">
        <button
          type="button"
          class="btn btn-primary waves-effect waves-light"
          (click)="crearVehiculos()"
          data-dismiss="modal"
        >
          Enviar
          <i class="fa fa-paper-plane ml-1"></i>
        </button>
        <button
          type="button"
          class="btn btn-outline-primary waves-effect"
          data-dismiss="modal"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Fin del modal -->
<table class="table table-striped" style="margin-right: 500px;">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">NroPadron</th>
      <th scope="col">Placa</th>
      <th scope="col">Estado</th>
      <th scope="col">Serie</th>
      <th scope="col">Uso</th>
      <th scope="col">Modelo</th>
      <th scope="col">Marca</th>
      <th scope="col">Categoria</th>
      <th scope="col">Opcion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vehiculo of vehiculos; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ vehiculo.nropadron }}</td>
      <td>{{ vehiculo.placa }}</td>
      <td>{{ vehiculo.estado }}</td>
      <td>{{ vehiculo.serie }}</td>
      <td>{{ vehiculo.uso }}</td>
      <td>{{ vehiculo.idvehmodelo }}</td>
      <td>{{ vehiculo.idvehmarca }}</td>
      <td>{{ vehiculo.idvehcategoria }}</td>
      <td>
        <a
          style="color: #FFB02F;size: 10px;"
          data-target="#editVeh"
          data-toggle="modal"
        >
          <i class="fas fa-pencil-alt"
          (click)="getVehiculosId(vehiculo.idvehiculo)"
          ></i
        ></a>
        <a
          style="margin-left: 15px;color: red;"
          (click)="delete(vehiculo.idvehiculo)"
          ><i class="fas fa-trash"></i
        ></a>
      </td>
    </tr>
  </tbody>
</table>
<!-- Inicio de modal -->
<div
  class="modal fade right"
  id="editVeh"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-backdrop="false"
>
  <div
    class="modal-dialog modal-full-height modal-right modal-notify modal-info"
    role="document"
  >
    <div class="modal-content"  *ngFor="let v of veh">
      <!-- Header del modal -->
      <div class="modal-header" style="background: #32363F;">
        <p class="heading lead">Edicion de Vehiculos</p>

        <!-- Boton de cerrar -->
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>
      <!-- Final del header -->

      <!-- Body del modal -->
      <div class="modal-body">
        <div class="form-group col-md-6">
          <label for="inputEmail4">NroPadron</label>
          <input
            type="email"
            class="form-control"
            id="inputEmail4"
            placeholder="NroPadron"
            [(ngModel)]="v.nropadron"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail4">Placa</label>
          <input
            type="email"
            class="form-control"
            id="inputEmail4"
            placeholder="Placa"
            [(ngModel)]="v.placa"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail4">Serie</label>
          <input
            type="email"
            class="form-control"
            id="inputEmail4"
            placeholder="Placa"
            [(ngModel)]="v.serie"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail4">Uso</label>
          <input
            type="email"
            class="form-control"
            id="inputEmail4"
            placeholder="Codigo"
            [(ngModel)]="v.uso"
          />
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Modelo</label>
          <select
            id="inputState"
            class="form-control"
            style="width: 280px;"
            [(ngModel)]="v.idvehmodelo"
          >
            <option
              *ngFor="let modelo of veh_modelos"
              [value]="modelo.idvehmodelo"
              >{{ modelo.nombre }}</option
            >
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Marca</label>
          <select
            id="inputState"
            class="form-control"
            style="width: 280px;"
            [(ngModel)]="v.idvehmarca"
          >
            <option
              *ngFor="let marca of veh_marcas"
              [value]="marca.idvehmarca"
              >{{ marca.nombre }}</option
            >
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Categoria</label>
          <select
            id="inputState"
            class="form-control"
            style="width: 280px;"
            [(ngModel)]="v.idvehcategoria"
          >
            <option
              *ngFor="let categoria of veh_categorias"
              [value]="categoria.idvehcategoria"
              >{{ categoria.nombre }}</option
            >
          </select>
        </div>
        <button
          type="button"
          class="btn btn-primary waves-effect waves-light"
          data-dismiss="modal"
          (click)="modificarVehiculos(v)"
        >
          Enviar
          <i class="fa fa-paper-plane ml-1"></i>
        </button>
        <button
          type="button"
          class="btn btn-outline-primary waves-effect"
          data-dismiss="modal"
        >
          Cancelar
        </button>
      </div>
      <!-- Fin del Body del modal -->

      <!-- Footer del modal -->
      <div class="modal-footer justify-content-center">
      </div>
    </div>
  </div>
</div>
<!-- Fin del modal -->
