<div id="caja1">
        <br>
    <h1>UBIGEO  </h1> 
    <!-- Boton registrar rol -->
    <br>
    <!-- div parte inferior -->
    <div id="caja2">
        <!-- div parte superior -->
        <div id="caja3">
            <!-- Buscador -->
            <p id="p">Buscar por: </p>
            <div class="input-group" id="caja_search">
                <span class="input-group-prepend">
                </span>
                <input class="form-control bg-transparent" type="search" placeholder=" Ingrese Nro de DNI" id="buscar1" />
                <span class="input-group-append">
                    <div class="input-group-text bg-transparent " id="buscar2">
                    <i class="fa fa-search"></i>
                    </div>
                </span>
            </div> 
             <!-- Buscador Estado -->
             <div id="estado">
                <select class="custom-select" id="inputGroupSelect01" id="caja_estado">
                        <option selected>Seleccione Estado</option>
                        <option value="1">Activo</option>
                        <option value="2">Desactivo</option>
                </select>
            </div>
         <hr>
    
            <button (click)= "Guardar()" class="btn btn-success"  data-toggle="modal" data-target="#RegisterRol" 
            style="margin-top: -5px; margin-left: -10px;">Agregar</button>
<hr>
    <!-- Modal Registrar Ubigeo -->
    <div class="modal fade" id="RegisterRol"  aria-hidden="true">
        <div class="modal-dialog" >
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">REGISTRAR ROL</h5>
              <hr>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="form-row">
                    <div class="form-group col-md-5">
                            <label for="inputZip" style="text-align: center;text-align: right;">CodUbigeo</label>
                            <input type="text" class="form-control" id="inputUbigeo">
                          </div> 
                          <div class="form-group col-md-5">
                                <label for="inputZip" style="text-align: center;text-align: right;">CodDepto</label>
                                <input type="text" class="form-control" id="inputDepto">
                              </div> 
                              <div class="form-group col-md-5">
                                    <label for="inputZip" style="text-align: center;text-align: right;">Departamento</label>
                                    <input type="text" class="form-control" id="inputDepartamento">
                                  </div> 
                                  <div class="form-group col-md-5">
                                        <label for="inputZip" style="text-align: center;text-align: right;">CodProv</label>
                                        <input type="text" class="form-control" id="inputprov">
                                      </div>
                                      <div class="form-group col-md-5">
                                            <label for="inputZip" style="text-align: center;text-align: right;">Provincia</label>
                                            <input type="text" class="form-control" id="inputZip">
                                          </div>
                                          <div class="form-group col-md-5">
                                                <label for="inputZip" style="text-align: center;text-align: right;">CodDist</label>
                                                <input type="text" class="form-control" id="inputZip">
                                              </div> 
                                              <div class="form-group col-md-5">
                                                    <label for="inputZip" style="text-align: center;text-align: right;">Distrito</label>
                                                    <input type="text" class="form-control" id="inputZip">
                                                  </div>  
                                                  <div class="form-group col-md-5">
                                                        <label for="inputZip" style="text-align: center;text-align: right;">Estado</label>
                                                        <input type="text" class="form-control" id="inputZip">
                                                      </div>   
                                    </div>
                                    <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar</button>
                                          </div>
                                </div>
        </div>
      </div>       
     <!-- Tabla -->
     <table class="table" style="text-align: center; width: 900px; margin: 0 auto;">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col" style="width: 250px;">CodUbigeo</th>
                <th scope="col">CodDepto</th>
                <th scope="col">Departamento</th>
                <th scope="col">CodProv</th>
                <th scope="col">Provincia</th>
                <th scope="col">CodDist</th>
                <th scope="col">Distrito</th>
                <th scope="col">Estado</th>
                <th scope="col" colspan="1" >Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ubige of ubigeosLista; let i  = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ ubige.CODUBIGEO }}</td>
                <td>{{ubige.CODDEPTO}}</td>
                <td>{{ubige.DEPARTAMENTO}}</td>
                <td>{{ubige.CODPROV}}</td>
                <td>{{ubige.PROVINCIA}}</td>
                <td>{{ubige.CODDIST}}</td>
                <td>{{ubige.DISTRITO}}</td>
                <td>{{ubige.ESTADO}}</td>
                <td ><i class="fas fa-trash-alt" style="color: red; margin-left: 20px;"></i></td>
                <td ><i class="fas fa-edit" style="color: blue; margin-left: -60px;" data-toggle="modal" data-target="#ModificarRol"></i></td>
              </tr>
            </tbody>
          </table>
</div>      
</div>
<!-- Modal Modificar Rol -->
<div class="modal fade" id="ModificarRol" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">MODIFICAR ROL</h5>
              <hr>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="form-row">
                    <div class="form-group col-md-5">
                            <label for="inputZip" style="text-align: center;text-align: right;">CodUbigeo</label>
                            <input type="text" class="form-control" id="inputUbigeo">
                          </div> 
                          <div class="form-group col-md-5">
                                <label for="inputZip" style="text-align: center;text-align: right;">CodDepto</label>
                                <input type="text" class="form-control" id="inputDepto">
                              </div> 
                              <div class="form-group col-md-5">
                                    <label for="inputZip" style="text-align: center;text-align: right;">Departamento</label>
                                    <input type="text" class="form-control" id="inputDepartamento">
                                  </div> 
                                  <div class="form-group col-md-5">
                                        <label for="inputZip" style="text-align: center;text-align: right;">CodProv</label>
                                        <input type="text" class="form-control" id="inputprov">
                                      </div>
                                      <div class="form-group col-md-5">
                                            <label for="inputZip" style="text-align: center;text-align: right;">Provincia</label>
                                            <input type="text" class="form-control" id="inputZip">
                                          </div>
                                          <div class="form-group col-md-5">
                                                <label for="inputZip" style="text-align: center;text-align: right;">CodDist</label>
                                                <input type="text" class="form-control" id="inputZip">
                                              </div> 
                                              <div class="form-group col-md-5">
                                                    <label for="inputZip" style="text-align: center;text-align: right;">Distrito</label>
                                                    <input type="text" class="form-control" id="inputZip">
                                                  </div>  
                                                  <div class="form-group col-md-5">
                                                        <label for="inputZip" style="text-align: center;text-align: right;">Estado</label>
                                                        <input type="text" class="form-control" id="inputZip">
                                                      </div>   
                                    </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    