
#p{
    font-size: 20px;
}
#caja_search{
    margin-left: 20px;
    width: 300px;
}
#buscar1{
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border: solid gray 1px;
}

#caja1{
    margin-left: -50px;
}
#caja_estado{
    margin-left: 20px;
    width: 250px;
    border: solid gray 1px;
}
#estado{
    margin-top: -38px;
    margin-left: 340px;
}
#limpiar{
    margin-top: -62px;
    margin-left: 640px;
    width: 150px;
    border-radius: 50px;
}
#modal-body{
    margin-top: -62px;
    margin-left: 640px;
    width: 150px;
    border-radius: 50px;
}
