<div class="limiter">
    <div class="container-login100" style="background:linear-gradient(to right, #D1FAFF, #9BD1E5, #6A8EAE);">
        <div class="wrap-login100">
            <div class="login100-pic" data-tilt style="margin-top: -80px; margin-bottom: 80px;">
                <img src="assets/img/img-01.png" alt="IMG">
            </div>

            <form class="login100-form validate-form" style="margin-top: -60px;">
                <span class="login100-form-title">
                    Login
                </span>

                <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" name="email" placeholder="Usuario">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fas fa-user" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Password is required">
                    <input class="input100" type="password" name="pass" placeholder="Password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>
                
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" (click)='clickLogIn()' type="button">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>