<div id="caja1">
  <br>
  <h1>Entrada</h1>
  <!-- Boton registrar rol -->
  <br>
  <!-- div parte inferior -->
  <div id="caja2">
    <!-- div parte superior -->
    <div id="caja3">
      <!-- Buscador -->
      <p id="p">Buscar por: </p>
      <div class="input-group" id="caja_search">
        <span class="input-group-prepend">
        </span>
        <input type="number" class="form-control bg-transparent" placeholder=" Ingrese NroComprob" id="buscar1"
          [(ngModel)]="nrocomprobante" name="nrocomprobante" />
        <span (click)="searchKardex();" class="input-group-append">
          <div class="input-group-text bg-transparent " id="buscar2">
            <i class="fa fa-search"></i>
          </div>
        </span>
      </div>
      <hr>
      <button class="btn btn-success" data-toggle="modal" data-target="#RegisterRol"
        style="margin-top: -5px; margin-left: -10px;">Agregar</button>
      <hr>
      <!--tabla-->
      <table class="table" style="width: 40px; height: 60px; text-align: center;  margin: 20;">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">TipoComprob</th>
            <th scope="col">TipoMov</th>
            <th scope="col">Concepto</th>
            <th scope="col">Fecha</th>
            <th scope="col">NroComprobante</th>
            <th scope="col">Estado</th>
            <th scope="col">NroSerie</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let karde of kardexLista; let i = index">
            <th scope="row">{{ i + 1}}</th>
            <td>{{karde.IDTIPOCOMPROBANTE ==1 ? 'Boleta' : ' Factura'}}</td>
            <td>{{karde.TIPOMOVIMIENTO  ==1 ? 'E' : ' S'}}</td>
            <td>{{karde.CONCEPTO}}</td>
            <td>{{karde.FECHA | date: 'dd/MM/yyyy'}}</td>
            <td>{{karde.NROCOMPROBANTE}}</td>
            <td>{{karde.ESTADO}}</td>
            <td>{{karde.NROSERIE}}</td>
            <button class="btn btn-sm btn-info"><i class="fas fa-eye" style=" margin-left: -0px;" data-toggle="modal"
                data-target="#ModificarRol"></i></button>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <hr>
  <form>
    <div class="row">
      <div class="col">
        <label for="inputZip">Productos</label>
        <select class="custom-select">
          <option value="1">llantas</option>
          <option value="2">frenos</option>
        </select>
      </div>
      <div class="col">
        <label for="inputZip">Cantidad</label>
        <input type="text" class="form-control" placeholder="Cantidad">
      </div>
      <div class="col">
        <label for="inputZip">Precio Uni</label>
        <input type="text" class="form-control" placeholder="Cantidad">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Registrar</button>
      </div>
    </div>
  </form>
</div>
<!-- Modal Registrar Rol -->
<div class="modal fade" id="RegisterRol" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">REGISTRAR ENTRADA</h5>
        <hr>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="form-row">
        <form  >
          <div class="row col-md-12">
            
            <div class="form-group col-md-5">
              <label for="inputZip" style="text-align: center;text-align: right;">Tipo Mov</label>
              <input type="text" class="form-control" name="tipomovimiento" [(ngModel)]="kardex.TIPOMOVIMIENTO" required 
                id="inputUbigeo">
            </div>
            <div class="form-group col-md-5">
              <label for="inputZip" style="text-align: center;text-align: right;">Concepto</label>
              <input type="text" class="form-control" name="concepto" [(ngModel)]="kardex.CONCEPTO" required #concepto1="ngModel"
                id="inputUbigeo">
            </div>
            <div class="form-group col-md-5">
              <label for="inputZip" style="text-align: center;text-align: right;">Id Tipo Comprob</label>
              <input type="text" class="form-control" name="idtipocomprobante" [(ngModel)]="kardex.IDTIPOCOMPROBANTE" required #idtipocomprobante1="ngModel"
                id="inputUbigeo">
            </div>
            <div class="form-group col-md-5">
              <label for="inputZip" style="text-align: center;text-align: right;">Estado</label>
              <input type="text" class="form-control" name="estado" [(ngModel)]="kardex.ESTADO" required #estado1="ngModel"
                id="inputUbigeo">
            </div>
            <div class="form-group col-md-5">
              <label for="inputZip" style="text-align: center;text-align: right;">NroComprobante</label>
              <input type="text" class="form-control" name="nrocomprobante" [(ngModel)]="kardex.NROCOMPROBANTE" required #nrocomprobante1="ngModel">
            </div>
            <div class="form-group col-md-5">
              <label for="inputZip" style="text-align: center;text-align: right;">NroSerie</label>
              <input type="text" class="form-control" name="nroserie" [(ngModel)]="kardex.NROSERIE" required #nroserie1="ngModel">
            </div>
            
      <div class="form-group col-md-5">
        <label style="text-align: center;text-align: right;">Fecha</label>
        <input type="date" name="fecha" max="3000-12-31" min="1000-01-01" class="form-control" [(ngModel)]="kardex.FECHA" required #fecha1="ngModel">
      </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-danger" (click)="agregarKardex();">GUARDAR</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Modificar Rol -->
<div class="modal fade" id="ModificarRol" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">LISTA DE PRODUCTO DE UN DOCUMENTO</h5>
        <hr>
        <hr>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="container">
        <table class="table table-bordered table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>P.Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>producto01</td>
              <td>12</td>
              <td>2</td>
              <td>24</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>

      </div>
    </div>
  </div>
</div>