#p{
    font-size: 20px;
    margin-left: 130px;
}
#caja_search{
    margin-left: 170px;
    width: 300px;
}
#buscar1{
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border: solid gray 1px;
}
#buscar2{
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border: solid gray 1px;
}
#caja1{
    margin-left: -50px;
}
#caja_rol{
    margin-left: -150px;
    margin-top: 50px;;
    width: 250px;
    border: solid gray 1px;
}
#rol{
    margin-top: -38px;
    margin-left: 340px;
}
#caja_estado{
    margin-left: -80px;
    width: 250px;
    border: solid gray 1px;
}
#estado{
    margin-top: -38px;
    margin-left: 640px;
}
#limpiar{
    margin-top: -64px;
    margin-left: 900px;
    width: 150px;
    border-radius: 50px;
}
#register{
    margin-top: -80px;
    width: 300px;
    margin-left: 900px; 
    font-size: 70px;
    text-align: center;
}
#register2{
    margin-top: -30px;
    width: 300px;
    margin-left: -100px; 
    font-size: 70px;
    text-align: center;
}
#caja2{
    margin-top: -110px;
}
#user{
    margin-top: -38px;
    width: 250px; 
    margin-left: 185px;
    border: solid gray 1px;
}
#listar{
    margin-left: -0px;
    width: 40px;;
}
#listar2{
    margin-left: -470px;
    width: 40px;;
}