<div id="caja1">
        <br>
    <h1>ROL</h1> 
    <!-- Boton registrar rol -->
    <button id="register" data-toggle="modal" data-target="#RegisterRol">
        <i class="fas fa-user-plus" ></i>
        <p style="margin-top: -15px; margin-left: -20px;">Registrar Rol</p>
    </button>
    <br>
    <br>
    <!-- div parte inferior -->
    <div id="caja2">
        <!-- div parte superior -->
        <div id="caja3">
            <!-- Buscador -->
            <p id="p">Buscar por: </p>
            <div class="input-group" id="caja_search">
                <span class="input-group-prepend">
                </span>
                <input class="form-control bg-transparent" type="search" placeholder=" Ingrese Nombre de Rol" id="buscar1"  [(ngModel)]="roles1.nom"/>
                <span class="input-group-append">
                    <div class="input-group-text bg-transparent " id="buscar2">
                    <i class="fa fa-search" (click)="getRolesN(roles1)"></i>
                    </div>
                </span>
            </div> 
            <!-- Buscador Estado -->
            <div id="estado">
                <select class="custom-select" id="inputGroupSelect01" id="caja_estado" [(ngModel)]="roles1.estado"  (click)="getRolesE()" >
                        <option  >Seleccione Estado</option>
                        <option value="1" >Activo</option>
                        <option value="0">Inactivo</option>                        
                </select>
            </div>     
            <!-- Boton Limpiar -->
            <button type="button" class="btn btn-success" id="limpiar" (click)="Limpiar()">Limpíar</button>

        </div>

        </div>
        <!-- Tabla -->
        <div style="text-align: center; ">
          <pagination-controls (pageChange)="ah=$event" previousLabel="Anterior" nextLabel="Siguiente" style="margin: auto;"> </pagination-controls>
    
        </div>
    
        <table class="table" style="text-align: center; width: 900px; margin: 0 auto;">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col" style="width: 250px;">Nombres de Rol</th>
                    <th scope="col">Estado</th>
                    <th scope="col" colspan="2" >Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let rol of listaroles | paginate: {itemsPerPage:6, currentPage: ah}; let f=index">
                    <td scope="row">{{f+1}}</td>
                    <td>{{rol.nombre}}</td>
                    <td>{{rol.estado}}</td>
                    <td ><i class="fas fa-trash-alt" style="color: red; margin-left: 20px;" (click)="EliminarRol(rol)"></i></td>
                    <td ><i class="fas fa-edit" style="color: blue; margin-left: -60px;" data-toggle="modal" data-target="#ModificarRol" (click)="loadPersona(rol)"></i></td>
                  </tr>
                </tbody>
              </table>
    
    
              
    </div>


    
<!-- Modal Registrar Rol -->
<div class="modal fade" id="RegisterRol" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">REGISTRAR ROL</h5>
              <hr>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <label for="">Ingrese Rol: </label>
              <input type="text" class="form-control" placeholder="Nombre Rol" [(ngModel)]="roles1.nombre">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary"  data-dismiss="modal" (click)="VerificarRol()">Guardar</button>
            </div>
          </div>
        </div>
      </div>

<!-- Modal Modificar Rol -->
<div class="modal fade" id="ModificarRol" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content"  *ngFor="let p_cur_rol of loadPersonaData">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">MODIFICAR ROL</h5>
              <hr>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <label for="">Ingrese Rol: </label>
              <input type="text" class="form-control"  id="caja_rol" placeholder="Nombre Rol" name="NOMBRE" [(ngModel)]="p_cur_rol.nombre">
              <br>
              <label for="">Ingrese Estado: </label>
              <select class="custom-select" id="inputGroupSelect01" id="caja_estado" [(ngModel)]="p_cur_rol.estado">
                <option selected>Seleccione Estado</option>
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
        </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary"  (click)="Actualizar(p_cur_rol)" data-dismiss="modal">Guardar</button>
            </div>
          </div>
        </div>
      </div>

              
              
    