<div id="caja1">
  <br>
  <h1>PERSONA </h1>
  <!-- Boton registrar rol -->
  <br>
  <!-- div parte inferior -->
  <div id="caja2">
    <!-- div parte superior -->
    <div id="caja3">
      <!-- Buscador -->
      <p id="p">Buscar por: </p>
      <div class="input-group" id="caja_search">
        <span class="input-group-prepend">
        </span>
        <input type="number" class="form-control bg-transparent" placeholder=" Ingrese Nro de documento" id="buscar1"
          [(ngModel)]="nrodoc" name="nrodoc" />
        <span (click)="searchPersona();" class="input-group-append">
          <div class="input-group-text bg-transparent " id="buscar2">
            <i class="fa fa-search"></i>
          </div>
        </span>
      </div>
      <!-- Buscador Estado -->
      <div id="estado">
        <select class="custom-select" id="inputGroupSelect01" id="caja_estado">
          <option selected>Seleccione Estado</option>
          <option value="1">Activo</option>
          <option value="2">Desactivo</option>
        </select>
      </div>
      <hr>

      <button class="btn btn-success" data-toggle="modal" data-target="#RegisterRol"
        style="margin-top: -5px; margin-left: -10px;">Agregar</button>
      <hr>
      <!-- Tabla -->
      <table class="table" style="text-align: center; width: 900px; margin: 0 auto;">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col" style="width: 250px;">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">tipodoc</th>
            <th scope="col">nrodoc</th>
            <th scope="col">sexo</th>
            <th scope="col">fechanac </th>
            <th scope="col">direccion</th>
            <th scope="col">estado</th>
            <th scope="col">telefono</th>
            <th scope="col" colspan="1">Opcion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of personasLista; let i = index">
            <th scope="row">{{ i + 1}}</th>
            <td>{{person.NOMBRE}}</td>
            <td>{{person.APELLIDO}}</td>
            <td>{{person.TIPODOC == 1? 'DNI' : 'Carnet de Ext'}}</td>
            <td>{{person.NRODOC }}</td>
            <td>{{person.SEXO == 1? 'F' : 'M'}}</td>
            <td>{{person.FECHANAC | date: 'dd/MM/yyyy'}}</td>
            <td>{{person.DIRECCION}}</td>
            <td>{{person.ESTADO == 1? 'Activo' : 'No Activo'}}</td>
            <td>{{person.TELEFONO}}</td>
            <button class="btn btn-sm btn-info" ><i class="fas fa-edit"
                style=" margin-left: -0px;" data-toggle="modal" data-target="#ModificarRol"  (click)="editar(person)"></i></button>
            <button class="btn btn-sm btn-danger" (click)="Eliminar(person.IDPERSONA);"><i class="fas fa-trash-alt"
                style=" margin-left: +2px;"></i></button>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Modal Registrar persona -->
  <div class="modal fade" id="RegisterRol" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" style="right: 3000px;">REGISTRAR PERSONA</h5>
            <hr>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="form-row">
            <form >
              <div class="row col-md-12">
                <div class="form-group col-md-6">
                  <label for="inputZip" style="height: auto; right: 50px;">Nombre</label>
                  <input type="text" class="form-control" placeholder=" Ingrese Nombre" maxlength="50" name="nombre" [(ngModel)]="per.nombre">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputZip" style="text-align: center;text-align: right;">Apellido</label>
                  <input type="text" class="form-control" placeholder=" Ingrese Apellido" maxlength="50" name="apellido" [(ngModel)]="per.apellido"
                    id="inputUbigeo">
                </div>
                <div class="form-group col-md-6">
                  <label for="">Tipo Doc: </label>
                  <select class="custom-select" name="tipodoc" [(ngModel)]="per.tipodoc"
                  id="inputUbigeo">
                    <option value=0>Carnet de Extranjeria</option>
                    <option value=1>Dni</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputZip" style="text-align: center;text-align: right;">NroDoc</label>
                  <input type="text" class="form-control" placeholder=" Ingrese NroDocumen" maxlength="8" name="nrodoc" [(ngModel)]="per.nrodoc"
                    id="inputUbigeo">
                </div>
                <div class="form-group col-md-6">
                    <label for="">Sexo: </label>
                    <select class="custom-select" name="sexo" [(ngModel)]="per.sexo">
                      <option value=0>M</option>
                      <option value=1>F</option>
                    </select>
                  </div>
                <div class="form-group col-md-6">
                  <label for="inputZip">FechaNac</label>
                  <input type="text" class="form-control" placeholder=" Ingrese dd-mm-yy"  name="fechanac" [(ngModel)]="per.fechanac">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputZip">Direccion</label>
                  <input type="text" class="form-control" placeholder=" Ingrese Direccion" maxlength="50" name="direccion" [(ngModel)]="per.direccion">
                </div>
                <div class="form-group col-md-6">
                  <label for="">Estado: </label>
                  <select class="custom-select"  name="estado" [(ngModel)]="per.estado">

                    <option value=0>Inactivo</option>
                    <option value=1>Activo</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputZip">Telefono</label>
                    <input type="text" class="form-control" placeholder=" Ingrese Telefono" maxlength="10" name="telefono" [(ngModel)]="per.telefono">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="">CodDist: </label>
                    <input type="text" class="form-control" placeholder=" Ingrese Telefono" maxlength="10" name="telefono" [(ngModel)]="per.idubigeo">
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" (click)="save()">Registrar Persona</button>
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>





  <!-- Modal Modificar Rol -->
  <div class="modal fade" id="ModificarRol" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">MODIFICAR PERSONA</h5>
          <hr>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="form-row">
            <form #f="ngForm" (ngSubmit)="buscar(f)">
              <div class="row col-md-12">
                <div class="form-group col-md-6">
                  <label for="inputZip" style="text-align: center;text-align: right;">Nombre</label>
                  <input type="text" class="form-control" [(ngModel)]="personaEditar.NOMBRE" name="NOMBRE">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputZip" style="text-align: center;text-align: right;">Apellido</label>
                  <input type="text" class="form-control" [(ngModel)]="personaEditar.APELLIDO" name="APELLIDO"
                    >
                </div>
                <div class="form-group col-md-6">
                  <label for="">Tipo Doc: </label>
                  <select class="custom-select" [(ngModel)]="personaEditar.TIPODOC" name="TIPODOC"
                  >
                    <option value=0>Carnet de Extranjeria</option>
                    <option value=1>Dni</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputZip" style="text-align: center;text-align: right;">NroDoc</label>
                  <input type="text" class="form-control" [(ngModel)]="personaEditar.NRODOC" name="NRODOC"
                  >
                </div>
                <div class="form-group col-md-6">
                    <label for="">Sexo: </label>
                    <select class="custom-select" [(ngModel)]="personaEditar.SEXO" name="SEXO"
                    >
                      <option value=0>M</option>
                      <option value=1>F</option>
                    </select>
                  </div>
                  
                <div class="form-group col-md-6">
                  <label for="inputZip">FechaNac</label>
                  <input type="text" class="form-control" [(ngModel)]="personaEditar.FECHANAC" name="FECHANAC"
                  >
                </div>

                <div class="form-group col-md-6">
                  <label for="inputZip">Direccion</label>
                  <input type="text" class="form-control" [(ngModel)]="personaEditar.DIRECCION" name="DIRECCION"
                  >
                </div>
                <div class="form-group col-md-6">
                  <label for="">Estado: </label>
                  <select class="custom-select" [(ngModel)]="personaEditar.ESTADO" name="ESTADO">

                    <option value=0>Inactivo</option>
                    <option value=1>Activo</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputZip">Telefono</label>
                    <input type="text" class="form-control" [(ngModel)]="personaEditar.TELEFONO" name="TELEFONO">
                  </div>
                  <div class="form-group col-md-6">
                      <label for="inputZip">CodDist</label>
                      <input type="text" class="form-control" >
                    </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" (click)="editar(personaEditar);">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
