
<div id="caja1">
    <br>
<h1>SOATS</h1> 
<!-- Boton registrar user -->
<button id="register" data-toggle="modal" data-target="#RegisterUsuario">
    <i class="fas fa-user-plus" ></i>
    <p style="margin-top: -15px;  margin-left: -20px;" >Registrar Soat</p>
</button>
<br>
<br>
<!-- div parte superior -->
<div id="caja2">
    <!-- Buscador -->
    <p id="p">Buscar por Nro.Documento: </p>
    <div class="input-group" id="caja_search">
        <span class="input-group-prepend">
        </span>
            <input class="form-control bg-transparent" [(ngModel)]="soa.nrodocumento"  placeholder=" Ingrese Nro Documento" >
        <span class="input-group-append">
            <div  class="input-group-text bg-transparent " id="buscar2">
            <i  (click)="Buscar()" class ="fa fa-search"></i>
            </div>
        </span>
    </div> 
    <!-- Buscador por Estado -->
    <div id="rol">
        <select class="custom-select" [(ngModel)]="s.estado" (click)="Estado()" id="inputGroupSelect01" id="caja_rol">
                
                <option value=1 >Vigente</option>
                <option value=0>No Vigente</option>
                <option value=2>Por Recoger</option>
        </select>
    </div>
    <!-- Boton Limpiar -->
    <button type="button" class="btn btn-success" id="limpiar" (click)="Limpiar()">Limpíar</button>

    <br><br>
    <!-- Tabla -->
    <table class="table" style="text-align: center;">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col" style="width: 250px;">NRO.DOCUMENTO</th>
                <th scope="col">NRO.POLIZA</th>
                
                <th scope="col">VIGENCIA HASTA</th>
                
                <th scope="col">CERTIFICADO HASTA</th>
               
                <th scope="col">ASEGURADORA</th>
                <th scope="col">VEHICULO</th>
                <th scope="col">ESTADO</th>
                <th scope="col" colspan="2" style="width: 400px;">Opciones</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let soat of soats; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{soat.nrodocumento}}</td>
                    <td>{{soat.nropoliza }}</td>
                    
                    <td>{{soat.vigenciahasta}}</td>
                  
                    <td>{{soat.certificadohasta}}</td>
                  
                    <td>{{soat.aseguradora}}</td>
                    <td>{{soat.idvehiculo}}</td>
                    <td>{{soat.estado}}</td>
                    <td ><i class="fas fa-trash-alt" (click)="Eliminar(soat)" style="color: red; margin-left: 20px;"></i></td>
                <td ><i class="fas fa-edit" (click)="Actualizar(soat)" style="color: blue; margin-left: -60px;" data-toggle="modal" data-target="#ModificarUsuario"></i></td>
                
              </tr>
            
            </tbody>
          </table>

</div>
          
</div>

<!-- Modal Registrar Usuario -->
<div class="modal fade" id="RegisterUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">REGISTRAR SOAT</h5>
              <hr>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
             <br>
                      
             <label for="">Nro Documento: </label>
             <input id="user" type="text" class="form-control" name="nrodocumento" [(ngModel)]=" soat.nrodocumento" >
              <br>
              <label for="">Nro Poliza: </label>
               <input id="user" type="text"  class="form-control"  name="nropoliza" [(ngModel)]=" soat.nropoliza " >
               <br>
               <label for="">Vigencia inicial: </label>
               <input id="user" type="text" class="form-control"   name="vigenciadesde" [(ngModel)]=" soat.vigenciadesde " >
               <br>
               <label for="">Vigencia Final: </label>
             <input id="user" type="text" class="form-control" name="vigenciahasta" [(ngModel)]=" soat.vigenciahasta" >
              <br>
              <label for="">Fecha inicial : </label>
               <input id="user" type="text"  class="form-control"  name="certificadodesde" [(ngModel)]="  soat.certificadodesde" >
               <br>
               <label for="">Fecha final: </label>
               <input id="user" type="text" class="form-control"   name="certificadohasta" [(ngModel)]=" soat.certificadohasta" >
               <br>
               <label for="">Montoprima: </label>
               <input id="user" type="text" class="form-control" name="montoprima" [(ngModel)]="soat.montoprima" >
                <br>
                <label for="">Aseguradora: </label>
                 <input id="user" type="text"  class="form-control"  name="aseguradora" [(ngModel)]=" soat.aseguradora" >
                 <br>
                 <label for="">Padron del Vehiculo: </label>
                 <input id="user" type="text" class="form-control"   name="idvehicu" [(ngModel)]="soat.idvehiculo" >
                 <br>
               <label for="">Seleccione Estado: </label>
               <select class="custom-select" id="inputGroupSelect01" id="caja_rol" [(ngModel)]="soat.estado" name="estado" style="margin-left: 52px;">
                    
                     <option value=1>Activo</option>
                     <option value=0>Inactivo</option>
                     <option value=2>Por entregar</option>
              </select>
           
            </div>
            <div class="modal-footer">
              <button type="button"   class="btn btn-danger" data-dismiss="modal">Cerrar</button>
              <button type="button" (click)="CREARSOAT()" class="btn btn-primary" data-dismiss="modal">Registrar</button>
            </div>
          </div>
        </div>
      </div>
<!-- Modal Modificar Usuario -->
<div class="modal fade" id="ModificarUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">MODIFICAR SOAT</h5>
              <hr>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body"> 
              <label for="">Nro Documento: </label>
              <input id="user" type="text" class="form-control" name="nrodocumento" [(ngModel)]=" so.nrodocumento" >
               <br>
               <label for=""> Nro Poliza:</label>
                <input id="user" type="text"  class="form-control"  name="nropoliza" [(ngModel)]=" so.nropoliza " >
                <br>
                <label for="">Vigencia inicial: </label>
                <input id="user" type="text" class="form-control"   name="vigenciadesde" [(ngModel)]=" so.vigenciadesde " >
                <br>
                <label for="">Vigencia Final:</label>
              <input id="user" type="text" class="form-control" name="vigenciahasta" [(ngModel)]=" so.vigenciahasta" >
               <br>
               <label for="">Fecha inicial : </label>
                <input id="user" type="text"  class="form-control"  name="certificadodesde" [(ngModel)]="  so.certificadodesde" >
                <br>
                <label for="">  Fecha final: </label>
                <input id="user" type="text" class="form-control"   name="certificadohasta" [(ngModel)]=" so.certificadohasta" >
                <br>
                <label for=""> Montoprima:</label>
                <input id="user" type="text" class="form-control" name="montoprima" [(ngModel)]="so.montoprima" >
                 <br>
                 <label for="">  Aseguradora: </label>
                  <input id="user" type="text"  class="form-control"  name="aseguradora" [(ngModel)]=" so.aseguradora" >
                  <br>
                  <label for="">Padron del Vehiculo:  </label>
                  <input id="user" type="text" class="form-control"   name="idvehicu" [(ngModel)]="so.idvehiculo" >
                  <br>
                <label for="">Seleccione Estado: </label>
                <select class="custom-select" id="inputGroupSelect01" id="caja_rol" [(ngModel)]="so.estado" name="estado" style="margin-left: 52px;">
                     
                      <option value=1>Activo</option>
                      <option value=0>Inactivo</option>
                      <option value=2>Por entregar</option>
               </select>
                
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" (click)="Editar(so)" data-dismiss="modal">Modificar</button>
            </div>
          </div>
        </div>
      </div>