<div id="caja1">
    <br>
<h1 style="width: 100px;">USUARIOS</h1> 
<!-- Boton registrar user -->
<button id="register"  (click)="Agregar()">
    <i class="fas fa-user-plus" ></i>
    <p style="margin-top: -15px;  margin-left: -20px;" >Registrar Usuario</p>
</button>
<br>
<button id="register2" (click)="Ros()">
  <i class="far fa-address-book"></i>
    <p style="margin-top: -15px;  margin-left: 0px;" >Rol - Usuarios</p>
</button>
<br>
<br>
<!-- div parte superior -->
<div id="caja2">
    <!-- Buscador -->
    <p id="p">Buscar por: </p>
    <div class="input-group" id="caja_search">
        <span class="input-group-prepend">
        </span>
        <input class="form-control bg-transparent" type="search" placeholder=" Ingrese Nombre y Apellido" id="buscar1" [(ngModel)]="usuario.login"/>
        <span class="input-group-append">
            <div class="input-group-text bg-transparent " id="buscar2">
            <i class="fa fa-search" (click)="getUsuarioN()"></i>
            </div>
        </span>
    </div> 
    <!-- Buscador Estado -->
    <div id="estado">
        <select class="custom-select" id="inputGroupSelect01" id="caja_estado" [(ngModel)]="usuario.estado">
                <option selected>Seleccione Estado</option>
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
        </select>
        <button id="listar" type="button" class="btn btn-info"  (click)="getUsuarioE()" ><i class="fas fa-check"></i></button>    
    </div>
    <!-- Boton Limpiar -->
    <button type="button" class="btn btn-success" id="limpiar"  (click)="limpiar()">Limpíar</button>

    <br><br>
    <!-- Tabla -->
    <table class="table" style="text-align: center;">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col" style="width: 250px;">Nombres y Apellidos</th>
                <th scope="col">Usuario</th>
                <th scope="col">Estado</th>
                <th scope="col" colspan="2">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of listaruser" >
                <td scope="row">{{user.idusuario}}</td>
                <td>{{user.nombre}} {{user.apellido}}</td>
                <td>{{user.login}}</td>
                <td>{{user.estado}}</td>
                <td ><i class="fas fa-trash-alt" style="color: red; margin-left: 20px;" (click)="EliminarUsuario(user)"></i></td>
                <td ><i class="fas fa-edit" style="color: blue; margin-left: -60px;" data-toggle="modal" data-target="#ModificarUsuario" (click)="loadPersona(user)"></i></td>
              </tr>
            </tbody>
          </table>

</div>
          
</div>

<!-- Modal Registrar Usuario -->
<div class="modal fade" id="RegisterUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">REGISTRAR USUARIO</h5>
              <hr>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <label for="">Seleccione un Nombre: </label>
              <select class="custom-select" id="inputGroupSelect01" id="caja_rol">
                    <option selected>Seleccione Opción</option>
                    <option value="1">Alejandro</option>
                    <option value="2">Guillermo</option>
                    <option value="3">Pedro</option>
             </select>
             <br>
             <br>
             <label for="">Ingrese un Usuario: </label>
              <input id="user" type="text" class="form-control" placeholder=" Usuario" >
              <br>
              <label for="">Ingrese Contraseña: </label>
               <input id="user" type="password" class="form-control" placeholder=" Contraseña" >
               <br>
               <label for="">Seleccione un Rol: </label>
              <select class="custom-select" id="inputGroupSelect01" id="caja_rol" style="margin-left: 58px;">
                    <option selected>Seleccione Opción</option>
                    <option value="1">Jefe de Operaciones</option>
                    <option value="2">Jefe de Mantenimiento</option>
                    <option value="3">Secretario</option>
             </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-" data-dismiss="modal">Limpiar</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar</button>
            </div>
          </div>
        </div>
      </div>
<!-- Modal Modificar Usuario -->
<div class="modal fade" id="ModificarUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content" *ngFor="let P_CURSOR_USUARIO of loadUsuarioData">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">MODIFICAR USUARIO</h5>
              <hr>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
             <label for="">Ingrese un Usuario: </label>
              <input id="user" type="text" class="form-control" placeholder=" Usuario" [(ngModel)]="P_CURSOR_USUARIO.login">
              <br>
              <label for="">Ingrese Contraseña: </label>
               <input id="user" type="password" class="form-control" placeholder=" Contraseña" [(ngModel)]="P_CURSOR_USUARIO.password">
               <br>
               <label for="">Ingrese Estado: </label>
               <select class="custom-select" id="inputGroupSelect01"  id="user" [(ngModel)]="P_CURSOR_USUARIO.estado">
                <option selected>Seleccione Estado</option>
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
        </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="ActualizarUser(P_CURSOR_USUARIO)">Guardar</button>
            </div>
          </div>
        </div>
      </div>