<div id="caja1">
  <br>
<h1>OPCIONES</h1> 
<!-- Boton registrar user -->
<button id="register" data-toggle="modal" data-target="#RegisterUsuario">
  <i class="fas fa-user-plus" ></i>
  <p style="margin-top: -15px;  margin-left: -20px;" >Registrar Opciones</p>
</button>
<br>
<br>
<!-- div parte superior -->
<div id="caja2">
  <!-- Buscador -->
  <p id="p">Buscar por Nro.Opcion: </p>
  <div class="input-group" id="caja_search">
      <span class="input-group-prepend">
      </span>
      <input class="form-control bg-transparent" id="buscar1" [(ngModel)]="ops.idopciones"  placeholder=" Ingrese Nro Documento" >
      <span class="input-group-append">
          <div  class="input-group-text bg-transparent " id="buscar2">
          <i  (click)="Buscar()" class ="fa fa-search"></i>
          </div>
      </span>
  </div> 
  <!-- Buscador Tipo -->
  <div id="tipo">
    <select class="custom-select" [(ngModel)]="o.tipo" (click)="Tipo()" id="inputGroupSelect01" id="caja_rol">
              <option selected>Seleccione Tipo</option>
              <option value="1">Activo</option>
              <option value="2">Desactivo</option>
      </select>
  </div>
  <!-- Buscador Estado -->
  <div id="estado">
    <select class="custom-select" [(ngModel)]="o.estado" (click)="Estado()" id="inputGroupSelect01" id="caja_rol">
                
      <option>Seleccione estado</option>
      <option value=1 >Vigente</option>
      <option value=0>No Vigente</option>
      <option value=2>Por Recoger</option>
</select>
</div>
  <!-- Boton Limpiar -->
  <button type="button" class="btn btn-success" id="limpiar" (click)="Limpiar()">Limpíar</button>

  <br><br>
  <!-- Tabla -->
  <table class="table" style="text-align: center;">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col" style="width: 250px;">N°</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Enlace</th>
        <th scope="col">Icono</th>
        <th scope="col">Tipo</th>
        <th scope="col">Orden</th>
        <th scope="col">Estado</th>
        <th scope="col" colspan="2" style="width: 200px;">Acciones</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let opciones of opciones1; let i = index">
          <td scope="row">{{opciones.idopciones}}</td>
            <td>{{opciones.idpadre}}</td>
            <td>{{opciones.nombre}}</td>
            <td>{{opcioens.descripcion}}</td>
            <td>{{opciones.enlace}}</td>
            <td>{{opciones.icono}}</td>
            <td>{{opciones.tipo}}</td>
            <td>{{opciones.orden}}</td>
            <td>{{opciones.estado}}</td>
            <td ><i class="fas fa-trash-alt" (click)="Eliminar(opciones)" style="color: red; margin-left: 20px;"></i></td>
        <td ><i class="fas fa-edit" (click)="Actualizar(opciones)" style="color: blue; margin-left: -60px;" data-toggle="modal" data-target="#ModificarUsuario"></i></td>
        
      </tr>
    </tbody>
  </table>

</div>
        
</div>

<!-- Modal Registrar Opcion -->
<div class="modal fade" id="RegisterUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Registrar Opcion</h5>
      <hr>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
     <br>
     <label for="">N° Padre: </label>
     <input id="user" type="text" class="form-control"  [(ngModel)]="opciones.idpadre" >
      <br>
      <label for="">Nombre: </label>
     <input id="user" type="text" class="form-control"  [(ngModel)]="opciones.nombre" >
      <br>
      <label for="">Descripcion: </label>
     <input id="user" type="text" class="form-control"  [(ngModel)]="opciones.descripcion" >
      <br>
      <label for="">Enlace: </label>
     <input id="user" type="text" class="form-control"  [(ngModel)]="opciones.enlace" >
      <br>
      <label for="">Icono: </label>
       <input id="user" type="text" class="form-control"  [(ngModel)]="opciones.icono" >
       <br>
       <label for="">Tipo: </label>
       <input id="user" type="text" class="form-control"  [(ngModel)]="opciones.tipo" >
       <br>
       <label for="">Orden: </label>
       <input id="user" type="text" class="form-control" placeholder="" [(ngModel)]="opciones.orden" >
       <br>
       <label for="">Seleccione Estado: </label>
       <select class="custom-select" id="inputGroupSelect01" id="caja_rol" [(ngModel)]="opciones.estado" style="margin-left: 50px;">
            
             <option value=1>Activo</option>
             <option value=0>Inactivo</option>
      </select>
         <br>
         <br>    
      
   
    </div>
    <div class="modal-footer">
      <button type="button"   class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      <button type="button" (click)="crearopciones()" class="btn btn-primary" data-dismiss="modal">Guardar</button>
    </div>
  </div>
</div>
</div>
<!-- Modal Modificar Opcion -->
<div class="modal fade" id="ModificarUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">MODIFICAR OPCION</h5>
        <hr>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="">N° Padre: </label>
        <input id="user" type="text" class="form-control" name="idpadre" [(ngModel)]="opciones.idpadre" >
         <br>
         <label for="">Nombre: </label>
          <input id="user" type="text"  class="form-control"  name="nombre" [(ngModel)]="opciones.nombre" >
          <br>
          <label for="">Descripcion: </label>
          <input id="user" type="text" class="form-control"   name="descripcion" [(ngModel)]="opciones.descripcion" >
          <br>
          <label for="">Enlace: </label>
          <input id="user" type="text"  class="form-control"  name="enlace" [(ngModel)]="opciones.enlace" >
          <br>
          <label for="">Icono: </label>
          <input id="user" type="text"  class="form-control"  name="icono" [(ngModel)]="opciones.icono" >
          <br>
          <label for="">Tipo: </label>
          <input id="user" type="text"  class="form-control"  name="tipo" [(ngModel)]="opciones.tipo" >
          <br>
          <label for="">Orden: </label>
          <input id="user" type="text"  class="form-control"  name="orden" [(ngModel)]="opciones.orden" >
          <br>
          <label for=""> Estado: </label>
          <select class="custom-select" id="inputGroupSelect01" id="caja_rol" [(ngModel)]="opciones.estado" name="estado" style="margin-left: 52px;">
               
                <option value=1>Activo</option>
                <option value=0>Inactivo</option>
                <option value=2>Por entregar</option>
         </select>
            <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="Editar(opcion)" data-dismiss="modal">Guardar</button>
      </div>
    </div>
  </div>
</div>