<div id="caja1">
  <br>
<h1>OPCIONES</h1> 
<!-- Boton registrar user -->
<button id="register" data-toggle="modal" data-target="#RegisterUsuario">
  <i class="fas fa-user-plus" ></i>
  <p style="margin-top: -15px;  margin-left: -20px;" >Registrar Opciones</p>
</button>
<br>
<br>
<!-- div parte superior -->
<div id="caja2">
  <!-- Buscador -->
  <p id="p">Buscar por Nro.Opcion: </p>
  <div class="input-group" id="caja_search">
      <span class="input-group-prepend">
      </span>
      <input class="form-control bg-transparent" [(ngModel)]="ops.idopciones"    placeholder=" Ingrese N° Opcion" id="buscar1" />
      <span class="input-group-append">
        <div class="input-group-text bg-transparent " (click)="buscar()" id="buscar2">
          <i class="fa fa-search"></i>
        </div>
      </span>
  </div> 
  <!-- Buscador Estado -->
  <div id="estado">
    <select class="custom-select" [(ngModel)]="o.estado" (click)="Estado()" id="inputGroupSelect02" id="caja_rol">
      <option selected>Seleccione Estado</option>
      <option value=1>Activo</option>
      <option value=0>Inactivo</option>
    </select>
  </div>
  <!-- Boton Limpiar -->
  <button type="button" class="btn btn-success" (click)="Limpiar()" id="limpiar">Limpíar</button>

  <br><br>
  <!-- Tabla -->
  <div style="text-align: center; ">
    <pagination-controls (pageChange)="ah=$event" previousLabel="Anterior" nextLabel="Siguiente" style="margin: auto;"> </pagination-controls>

  </div>


  <table class="table" style="text-align: center;">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col" style="width: 250px;">N°</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Enlace</th>
        <th scope="col">Icono</th>
        <th scope="col">Tipo</th>
        <th scope="col">Orden</th>
        <th scope="col">Estado</th>
        <th scope="col" colspan="2" style="width: 200px;">Acciones</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let opcion of opciones1  | paginate: {itemsPerPage:6, currentPage: ah}; let f=index">
          <td scope="row">{{f + 1}}</td>
            <td>{{opcion.idpadre}}</td>
            <td>{{opcion.nombre}}</td>
            <td>{{opcion.descripcion}}</td>
            <td>{{opcion.enlace}}</td>
            <td>{{opcion.icono}}</td>
            <td>{{opcion.tipo}}</td>
            <td>{{opcion.orden}}</td>
            <td>{{opcion.estado == 1 ? 'Activo' : (opcion.estado == 2 ? 'Vinculado' : 'Inactivo')   }}</td>
            <td><i class="fas fa-trash-alt" (click)="Eliminar(opcion)" style="color: red; margin-left: 20px;"></i><i class="fas fa-edit" (click)="Actualizar(opcion.idopciones)" style="color: blue; margin-left: -60px;"
                data-toggle="modal" data-target="#ModificarUsuario"></i></td>
        
      </tr>
    </tbody>
  </table>

</div>
        
</div>

<!-- Modal Registrar Opcion -->
<div class="modal fade" id="RegisterUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Registrar Opcion</h5>
      <hr>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
     <br>
     <label for="">N° Padre: </label>
     <input id="user" type="text" class="form-control"  [(ngModel)]="opciones.idpadre" >
      <br>
      <label for="">Nombre: </label>
     <input id="user" type="text" class="form-control"  [(ngModel)]="opciones.nombre" >
      <br>
      <label for="">Descripcion: </label>
     <input id="user" type="text" class="form-control"  [(ngModel)]="opciones.descripcion" >
      <br>
      <label for="">Enlace: </label>
     <input id="user" type="text" class="form-control"  [(ngModel)]="opciones.enlace" >
      <br>
      <label for="">Icono: </label>
       <input id="user" type="text" class="form-control"  [(ngModel)]="opciones.icono" >
       <br>
       <label for="">Tipo: </label>
       <input id="user" type="text" class="form-control"  [(ngModel)]="opciones.tipo" >
       <br>
       <label for="">Orden: </label>
       <input id="user" type="text" class="form-control" placeholder="" [(ngModel)]="opciones.orden" >
       <br>
       <label for="">Seleccione Estado: </label>
       <select class="custom-select" id="inputGroupSelect01" id="caja_rol" [(ngModel)]="opciones.estado" style="margin-left: 50px;">
            
             <option value=1>Activo</option>
             <option value=0>Inactivo</option>
      </select>
         <br>
         <br>    
      
   
    </div>
    <div class="modal-footer">
      <button type="button"   class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      <button type="button" (click)="crearopciones()" class="btn btn-primary" data-dismiss="modal">Guardar</button>
    </div>
  </div>
</div>
</div>
<!-- Modal Modificar Opcion -->
<div class="modal fade" id="ModificarUsuario" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" >
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar Opcion</h5>
        <hr>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngFor="let opc of opciones">
        <label for="">N° Padre: </label>
        <input id="user" type="text" class="form-control" name="idpadre" [(ngModel)]="opc.idpadre" >
         <br>
         <label for="">Nombre: </label>
          <input id="user" type="text"  class="form-control"  name="nombre" [(ngModel)]="opc.nombre" >
          <br>
          <label for="">Descripcion: </label>
          <input id="user" type="text" class="form-control"   name="descripcion" [(ngModel)]="opc.descripcion" >
          <br>
          <label for="">Enlace: </label>
          <input id="user" type="text"  class="form-control"  name="enlace" [(ngModel)]="opc.enlace" >
          <br>
          <label for="">Icono: </label>
          <input id="user" type="text"  class="form-control"  name="icono" [(ngModel)]="opc.icono" >
          <br>
          <label for="">Tipo: </label>
          <input id="user" type="text"  class="form-control"  name="tipo" [(ngModel)]="opc.tipo" >
          <br>
          <label for="">Orden: </label>
          <input id="user" type="text"  class="form-control"  name="orden" [(ngModel)]="opc.orden" >
          <br>
          <label for="">Seleccione Estado: </label>
          <select class="custom-select" id="inputGroupSelect01" id="caja_rol" [(ngModel)]="opc.estado" style="margin-left: 50px;">
               
                <option value=1>Activo</option>
                <option value=0>Inactivo</option>
         </select>
            <br>
      </div>
      <div class="modal-footer" style="margin-right: 10px;">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="Editar(opc)">Modificar</button>
      </div>
    </div>
  </div>
</div>