<div [ngSwitch]="tipo">
  <div *ngSwitchCase="0">
    <h3 class="py-5 float-left">
      Acciones de mantenimiento preventivas
    </h3>
    <button class="btn btn-primary float-right" style="margin: 5% 2%;" type="button" data-toggle="modal" data-target="#exampleModal">Crear accion preventiva</button>
  </div>
  <div *ngSwitchCase="1">
    <h3 class="py-5 float-left">
      Acciones de mantenimiento correctivas
    </h3>
    <button class="btn btn-primary float-right" style="margin: 5% 2%;" type="button" data-toggle="modal" data-target="#exampleModal">Crear accion correctiva</button>
  </div>
  <div *ngSwitchCase="2">
    <h3 class="py-5 float-left">
      Acciones de revision diaria
    </h3>
    <button class="btn btn-primary float-right" style="margin: 5% 2%;" type="button" data-toggle="modal" data-target="#exampleModal">Crear accion de revision diaria</button>
  </div>
  <div *ngSwitchCase="3">
    <h3 class="py-5 float-left">
      Acciones de revision tecnica
    </h3>
    <button class="btn btn-primary float-right" style="margin: 5% 2%;" type="button" data-toggle="modal" data-target="#exampleModal">Crear accion de revision tecnica</button>
  </div>
</div>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Orden</th>
        <th scope="col" colspan="2">Opcion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of requests">
        <td *ngIf="request.estado == 1">{{request.nombre}}</td>
        <td *ngIf="request.estado == 1">{{request.descripcion}}</td>
        <td *ngIf="request.estado == 1">{{request.orden}}</td>
        <td *ngIf="request.estado == 1">
          <a style="color: #FFB02F;size: 10px;cursor: pointer;" data-toggle="modal" data-target="#update" (click)="cargarId(request.idmantacciones)">
            <i class="fas fa-pencil-alt"></i>
          </a>
        </td>
        <td *ngIf="request.estado == 1">
          <a style="margin-left: 15px;color: red;cursor: pointer;" (click)="eliminar(request)">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" >
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #accionesForm="ngForm">
            <div class="form-group my-3">
              <label for="nombre">Ingrese nombre</label>
              <input type="text" placeholder="Nombre" class="form-control" name="nombre" [(ngModel)]="mantAcciones.nombre" required #nombre="ngModel">
              <div class="alert alert-danger my-2" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                <div *ngIf="nombre.errors.required">
                  Nombre requerido
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="idaccionpadre">Elija categoria</label>
              <select class="form-control" [(ngModel)]="mantAcciones.idaccionpadre" name="idaccionpadre">
                  <option value="" disabled>Seleccione su opcion</option>
                  <option value="0">Categoria acciones</option>
                  <option *ngFor="let cat of getcat" [value]="cat.idmantacciones">
                    {{cat.nombre}}
                  </option>
              </select>
            </div>
            <div class="form-group my-3">
              <label for="descripcion">Ingrese descripcion</label>
              <input type="text" placeholder="Descripcion" class="form-control" name="descripcion" [(ngModel)]="mantAcciones.descripcion" required #descripcion="ngModel">
              <div class="alert alert-danger my-2" *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
                <div *ngIf="descripcion.errors.required">
                  Descripcion requerido
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="crearAccion()" [disabled]="!accionesForm.form.valid" onclick="$('#exampleModal').modal('hide')">Crear</button>
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" *ngFor="let get of getid">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <input type="text" placeholder="Nombre" class="form-control my-3" name="nombre" [(ngModel)]="get.nombre">
              <input type="text" placeholder="Descripcion" class="form-control my-3" name="descripcion" [(ngModel)]="get.descripcion">
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="actualizar(get)">Actualizar</button>
          </div>
        </div>
      </div>
    </div>

  