<h1 class="py-5 float-left" *ngIf="tipo==4 else elseTitle">
  Categorias
</h1>
<ng-template #elseTitle>
  <h3 class="py-5 float-left">Acciones de mantenimiento preventivas</h3>
</ng-template>
<button class="btn btn-primary float-right" style="margin: 6.5% 2%;" *ngIf="tipo==4 else elseBtn">Crear categoria</button>
<ng-template #elseBtn>
    <button class="btn btn-primary float-right" style="margin: 5% 2%;">Crear accion preventiva</button>
</ng-template>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Categoria</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Orden</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of requests">
        <td>{{request.IDACCIONPADRE}}</td>
        <td>{{request.NOMBRE}}</td>
        <td>{{request.TIPO}}</td>
        <td>{{request.DESCRIPCION}}</td>
        <td>{{request.ORDEN}}</td>
      </tr>
    </tbody>
  </table>
  